body {
    font-family: cursive;
}
        /* https://developer.mozilla.org/Learn/CSS/Introduction_to_CSS/Combinators_and_multiple_selectors#Combinators_and_selector_lists */
        /* WRITE YOUR CSS HERE */
        
        /* me @ me: life is too hard */
        ol li {
            color: violet;
        }
        
        div > p {
            color: red;
        }
        
        p + p {
            color: blue;
        }
        
        p ~ ul {
            color: orange;
        }
        
        p ~ ul em {
            color: pink;
        }
